name: CI

on:
  pull_request: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/lint@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          semantic-release-extra-plugins: |
            @open-turo/semantic-release-config@6.1.2
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/test@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test release
        uses: ./semantic-release
        with:
          branches: ${{ github.event.pull_request.head.ref }}
          override-github-ref-name: ${{ github.event.pull_request.head.ref }}
          dry-run: true
          extra-plugins: |
            @open-turo/semantic-release-config
