name: CI

on:
  pull_request: {}

jobs:
  release-notes:
    name: Release notes preview
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./lint-release-notes
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/lint@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/test@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test release
        uses: ./semantic-release
        with:
          branches: ${{ github.event.pull_request.head.ref }}
          override-github-ref-name: ${{ github.event.pull_request.head.ref }}
          dry-run: true
          extra-plugins: |
            @open-turo/semantic-release-config
