name: CI

on:
  push:

jobs:
  release-notes:
    name: Release notes preview
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: ./release-notes-preview
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/lint@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Test release
        uses: ./semantic-release
        with:
          branches: ${{ github.ref_name }}
          dry-run: true
          extra-plugins: |
            @open-turo/semantic-release-config
